In [9]:
import numpy as np
import pandas as pd

covid_data = pd.read_csv("owid-covid-data.csv")
covid_data = covid_data[['iso_code','continent','location','date','total_cases','new_cases']]

covid_data.head(5)

  iso_code continent     location        date  total_cases  new_cases
0      AFG      Asia  Afghanistan  2020-01-05          NaN        0.0
1      AFG      Asia  Afghanistan  2020-01-06          NaN        0.0
2      AFG      Asia  Afghanistan  2020-01-07          NaN        0.0
3      AFG      Asia  Afghanistan  2020-01-08          NaN        0.0
4      AFG      Asia  Afghanistan  2020-01-09          NaN        0.0

In [10]:
covid_data.dtypes

iso_code        object
continent       object
location        object
date            object
total_cases    float64
new_cases      float64
dtype: object

In [11]:
covid_data.shape

(376782, 6)

In [12]:
data_mean = np.mean(covid_data['new_cases'])
data_mean

8965.882998830972

In [13]:
data_median = np.median(covid_data['new_cases'])
data_median

nan

In [16]:
from scipy import stats

data_mode = stats.mode(covid_data['new_cases'])
data_mode

ModeResult(mode=0.0, count=326898)

In [21]:
data_variance = np.var(covid_data['new_cases'])
data_variance

59051186771.493546

In [20]:
data_std = np.std(covid_data['new_cases'])
data_std

243004.49948816493

In [26]:
data_max = np.max(covid_data['new_cases'])
data_min = np.min(covid_data['new_cases'])
data_min

0.0

In [27]:
data_percentile = np.percentile(covid_data['new_cases'],60)
data_percentile

nan